*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: red;
    color:white;
    text-align: center;
    padding: 15px;
}
ul,li{
    display: inline;
    color:beige;
    cursor: pointer;
}
li:hover{
    color:white;   
}
.Details{
    color: white;
    background-color: black;
    margin-top: auto;
    padding: 20px;
    
}
.send_bar{
    margin: 10px;
    background-color: skyblue;
    color: black;
    display: inline;
    
}
.box{
    padding: 50px;
    background-color: white;
    object-fit: cover;
    width: 250px;
    height: 200px;
    display: inline-block;
}
.sbox{
    
    text-align: center;
    border: 10pm;
    background-color: black;
    color: white;
    border-style: solid;
    display: inline-block;
}
.Menu{
    background-color: white;
    margin-left: 20px;
    height: 75%;
}